@using SportsStore.Models;


<h2>AllTheShoes</h2>
<style>
    table, th, td {
        border: 2px solid black;
    }
</style>
<button type="button" onclick="location.href = '@Url.Action("ShowTable","Shoes")'">click to change </button>

@foreach (Shoe shoe in @ViewBag.Shoes)
{
        <div width="100%">
            <section width="50%">
                <h3>ShoeType : @shoe.ShoeType</h3>
                <h3>Company : @shoe.Company</h3>
                <h3>Model : @shoe.Model</h3>
                <h3>Price : @shoe.Price</h3>
                <h3>Amount : @shoe.Amount</h3>
                <h3>IsSale : @shoe.IsSale</h3>
                <img src="@shoe.Img" width="100px" height="40px" />
                <hr />
            </section>
        </div>
    }

