@using SportsStore.Models;
@{
    ViewBag.Title = "ShowTable";
}
<button type="button" onclick="location.href = '@Url.Action("AllTheShoes","Shoes")'">click to change </button>
<style>
    table, th, td {
        border: 2px solid black;
    }
</style>
<div id="Table">
    <table width="100%">
        <tr>
            <th>ShoeType</th>
            <th>Company</th>
            <th>Model</th>
            <th>Price</th>
            <th>Amount</th>
            <th>IsSale</th>
            <th>Img</th>
        </tr>
        <tr>
            @foreach (Shoe shoe in @ViewBag.Shoes)
            {
                <td>@shoe.ShoeType</td>
                <td>@shoe.Company</td>
                <td>@shoe.Model</td>
                <td>@shoe.Price</td>
                <td>@shoe.Amount</td>
                <td>@shoe.IsSale</td>
                <td><img src="@shoe.Img" width="40px" height="40px" /></td>
            <tr />
        }
            <table />

    </div>

