@using SportsStore.Models;
@{
    ViewBag.Title = "ShowTable";
}
<h1>The table shoes : </h1>
<style>
    #TableShoes {
        width: 90%;
        border-collapse: collapse;
        margin-left: 10%;
        margin-bottom: 1%;
        padding: 10%;
        margin:3%;
    }
    #TableShoes,
    th,
    td {
        text-align: center;
        border: 1px solid black;
        background-color: rgb(245, 238, 230);
    }

    #TableShoes,
    th {
        height: 50px;
    }

        #TableShoes tr {
            border: 3px solid black;
        }

    @*button {
        border:none;
    }*@
</style>
<div>
    <table id="TableShoes">
        <tr>
            <th>ShoeType</th>
            <th>Company</th>
            <th>Model</th>
            <th>Price</th>
            <th>Amount</th>
            <th>IsSale</th>
            <th>Img</th>
        </tr>
        <tr>
            @foreach (Shoe shoe in @ViewBag.Shoes)
            {
                <td>@shoe.ShoeType</td>
                <td>@shoe.Company</td>
                <td>@shoe.Model</td>
                <td>@shoe.Price</td>
                <td>@shoe.Amount</td>
                <td>@shoe.IsSale</td>
                <td><img src="@shoe.Img" width="40px" height="40px" /></td>
            <tr />
        }
            <table />

    </div>
    <br />
    <button type="button" onclick="location.href = '@Url.Action("CardShoes","Shoes")'">click to change </button>

