<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style>
    body {
        background: linear-gradient(rgb(244, 223, 186),rgb(238, 195, 115),rgb(202, 150, 92));
    }

    #ulNav {
        background: linear-gradient(rgb(244, 223, 186),rgb(238, 195, 115));
        text-align: center;
        font-size: large;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        font-weight: bold;

    }
        #ulNav a {
            color: black;
            transition: 0.5s;
            font-size:25px;
        }

            #ulNav a:hover {
                color: rgb(233, 143, 25);
            }

    footer {
        padding: 5%;
        text-align: center;
        font-weight: bold;
        font-size: 23px;
    }
</style>
<body>
    <ul id="ulNav">
        <li>
            <img src="~/Image/לוגו יעקב.jpeg" width="50px" height="50px" />
        </li>
        <li>
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li>
            @Html.ActionLink("Shirt", "ShirtCard", "Shirt", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li>
            @Html.ActionLink("Pants", "CardOfPants", "Pants", new { area = "" }, new { @class = "navbar-brand" })

        </li>
        <li>
            @Html.ActionLink("Shoes", "CardShoes", "Shoes", new { area = "" }, new { @class = "navbar-brand" })

        </li>
        <li>
            @Html.ActionLink("SportsEquipment", "SportsEquipmentCard", "SportsEquipment", new { area = "" }, new { @class = "navbar-brand" })

        </li>
        <li>
            <img src="~/Image/לוגו טק קריירה.jpeg" width="50px" height="50px" />
        </li>
    </ul>
    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
    @*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Shirt", "ShirtCard", "Shirt", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Pants", "CardOfPants", "Pants", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Shoes", "CardShoes", "Shoes", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("SportsEquipment", "SportsEquipmentCard", "SportsEquipment", new { area = "" }, new { @class = "navbar-brand" })*@
    @*@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })*@



    <ul class="nav navbar-nav">
        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
        @*<li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
        @*<li>@Html.ActionLink("Shirt", "ShirtCard", "Shirt")</li>
            <li>@Html.ActionLink("Shoes", "AllTheShoes", "Shoes")</li>*@
    </ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <section id="SecOfFooter">
                | <a style="color:black" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/Gmail_2020.png" width="24px" height="24px" /> Email</a>
                | <a style="color:black" href="https://github.com/kerenhailu" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" width="24px" height="24px" /> Github</a>
                |   <a style="color:black" href="https://www.linkedin.com/in/keren-hailu-58bb07218/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/1200px-Linkedin.svg.png" width="24px" height="24px" /> Linkedin</a>
                | <a style="color:black" href="https://api.whatsapp.com/send?phone=9720543401404" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" width="24px" height="24px" />WhatsApp</a>
            </section>

            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
