@using SportsStore.Models;
<style>
    body {
        background-color: rgb(238, 195, 115);
    }

    #DivCard {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #Card {
        font-size: large;
        width: 40vh;
        height: 50vh;
        box-shadow: 5px 5px 5px rgb(202, 150, 92);
        background: linear-gradient(rgb(244, 223, 186),rgb(238, 195, 115),rgb(202, 150, 92));
        margin: 2%;
        /* border: 6px solid rgb(226, 22, 15); */
        text-align: center;
        border-radius: 10%;
        transition: 2s;
    }
        @*#card:hover {
            width: 5%;
            height: 5%;
        }*@
        #Card img {
            width: 60%;
            height: 40%;
            border-radius: 10%;
        }

        button {
            background-color: rgb(238, 195, 115);
            font-weight: bold;
            border: none;
            font-size: large;
            transition: 2s;
        }
            @*button:hover {
                width: 5%;
                height: 5%;
            }*@
</style>
<button type="button" onclick="location.href = '@Url.Action("ShirtCard","Shirt")'">click to All the Card </button>
<h1>Dreyfits Shirt</h1>
<div id="DivCard">
@foreach (Clothing shirt in @Model)
{
    <section id="Card">
        <br />
        <h4>Type : @shirt.ClothType</h4>
        <h4>Company : @shirt.Company</h4>
        <h4>Price : @shirt.Price</h4>
        <br />
        <img src="@shirt.Img" />
    </section>
    }
</div>
