@using SportsStore.Models;


<h2> Table of Shirt</h2>
<button type="button" onclick="location.href = '@Url.Action("ShirtCard","Shirt")'">click to change </button>

<style>
    #TableShirt {
        width: 90%;
        border-collapse: collapse;
        margin-left: 10%;
        margin-bottom: 1%;
        padding: 10%;
        margin:3%;
    }
    #TableShirt,
    th,
    td {
        text-align: center;
        border: 1px solid black;
        background-color: rgb(245, 238, 230);
    }
    #TableShirt,
    th {
        height: 50px;
    }

        #TableShirt tr {
            border: 3px solid black;
        }

    @*button {
        border:none;
    }*@
</style>
<h1>Shirts </h1>
<div >
    <table id="TableShirt">
        <tr>
            <th>ClothModel</th>
            <th>Company</th>
            <th>IsShort</th>
            <th>Price</th>
            <th>Amount</th>
            <th>IsDreyfit</th>
            <th>Gender</th>
            <th>Img</th>
        </tr>
        <tr>
            @foreach (Clothing shirt in @Model)
            {
                <td>@shirt.ClothModel</td>
                <td> @shirt.Company</td>
                <td>@shirt.IsShort</td>
                <td>@shirt.Price</td>
                <td> @shirt.Amount</td>
                <td> @shirt.IsDreyfit</td>
                <td> @shirt.Gender</td>
                <td><img src="@shirt.Img" width="100px" height="40px" /></td>
<tr />
        }
            <table />

    </div>


 

