@using SportsStore.Models;

<style>
    #TableShirt {
        width: 90%;
        border-collapse: collapse;
        margin-left: 10%;
        margin-bottom: 1%;
        padding: 10%;
        margin: 3%;
    }

    #TableShirt,
    th,
    td {
        text-align: center;
        border: 1px solid black;
        background-color: rgb(249, 228, 200);
    }

    #TableShirt,
    th {
        height: 50px;
    }

        #TableShirt tr {
            border: 3px solid black;
        }

    button {
        border: none;
        background: rgb(249, 207, 147);
        font-weight: bold;
        font-size: large;
    }
</style>
<h1>Shirts </h1>
<button type="button" onclick="location.href = '@Url.Action("ShirtCard","Shirt")'">Card shirt </button>
<button type="button" onclick="location.href = '@Url.Action("LongShirt","Shirt")'">Long Shirt </button>
<button type="button" onclick="location.href = '@Url.Action("TShirt","Shirt")'">Short TShirt </button>
<button type="button" onclick="location.href = '@Url.Action("DreyfitShirt","Shirt")'">Dreyfit Shirts </button>
<button type="button" onclick="location.href = '@Url.Action("SortShirt","Shirt")'">Sort Shirts </button>
<button type="button" onclick="location.href = '@Url.Action("MaleShirt","Shirt")'">Male Shirts </button>
<button type="button" onclick="location.href = '@Url.Action("FemaleShirt","Shirt")'">Female Shirts </button>
<div>
    <table id="TableShirt">
        <tr>
            <th>ClothModel</th>
            <th>Company</th>
            <th>IsShort</th>
            <th>Price</th>
            <th>Amount</th>
            <th>IsDreyfit</th>
            <th>Gender</th>
            <th>Img</th>
        </tr>
        <tr>
            @foreach (Clothing shirt in @Model)
            {
                <td>@shirt.ClothModel</td>
                <td> @shirt.Company</td>
                <td>@shirt.IsShort</td>
                <td>@shirt.Price</td>
                <td> @shirt.Amount</td>
                <td> @shirt.IsDreyfit</td>
                <td> @shirt.Gender</td>
                <td><img src="@shirt.Img" width="100px" height="40px" /></td>
            <tr />
        }
            <table />

    </div>




