@using SportsStore.Models;

<style>
    body {
        background-color: rgb(238, 195, 115);
    }

    #Divcard {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #card {
        font-size: large;
        width: 40vh;
        height: 50vh;
        box-shadow: 5px 5px 5px rgb(202, 150, 92);
        background: linear-gradient(rgb(244, 223, 186),rgb(238, 195, 115),rgb(202, 150, 92));
        margin: 2%;
        /* border: 6px solid rgb(226, 22, 15); */
        text-align: center;
        border-radius: 10%;
        transition: 2s;
    }
        @*#card:hover {
            width: 5%;
            height: 5%;
        }*@
        #card img {
            width: 60%;
            height: 40%;
            border-radius: 10%;
        }

        button {
            background-color: rgb(238, 195, 115);
            font-weight: bold;
            border: none;
            font-size: large;
            transition: 2s;
        }
            @*button:hover {
                width: 5%;
                height: 5%;
            }*@
</style>
<h1>Equipment for Sport</h1>
<button type="button" onclick="location.href = '@Url.Action("SportsEquipmentTable","SportsEquipment")'">Show table </button>
<button type="button" onclick="location.href = '@Url.Action("EquipmentBasketball","SportsEquipment")'">click To SportsEquipment Basketball</button>
<button type="button" onclick="location.href = '@Url.Action("EquipmentFootball","SportsEquipment")'">click To SportsEquipment Football</button>
<button type="button" onclick="location.href = '@Url.Action("EquipmentSort","SportsEquipment")'">click To Sort SportsEquipments </button>
<div id="Divcard">
    @foreach (SportsEquipment SportsEquipment in @Model)
    {
        <section id="card">
            <br />
            <h4>ShoeType : @SportsEquipment.sportType</h4>
            <h4>Company : @SportsEquipment.Company</h4>
            <h4>Price : @SportsEquipment.Price</h4>
            <br />
            <img src="@SportsEquipment.Img" />
        </section>
    }

</div>

