@using SportsStore.Models;

<style>
    body {
        background-color: rgb(238, 195, 115);
    }

    #TableShoes {
        width: 90%;
        border-collapse: collapse;
        margin-left: 10%;
        margin-bottom: 1%;
        padding: 10%;
        margin: 3%;
    }

    #TableShoes,
    th,
    td {
        text-align: center;
        border: 1px solid black;
        background-color: rgb(249, 228, 200);
    }

    #TableShoes,
    th {
        height: 50px;
    }

        #TableShoes tr {
            border: 3px solid black;
        }

    button {
        border: none;
        background: rgb(249, 207, 147);
        font-weight: bold;
        font-size: large;
    }
</style>
<h1>Table Equipment : </h1>
<button type="button" onclick="location.href = '@Url.Action("SportsEquipmentCard","SportsEquipment")'">Show Equipment   </button>
<button type="button" onclick="location.href = '@Url.Action("EquipmentBasketball","SportsEquipment")'">click To SportsEquipment Basketball  </button>
<button type="button" onclick="location.href = '@Url.Action("EquipmentFootball","SportsEquipment")'">click To SportsEquipment Football  </button>
<button type="button" onclick="location.href = '@Url.Action("EquipmentSort","SportsEquipment")'">click To Sort SportsEquipments </button>
<div>
    <table id="TableShoes">
        <tr>
            <th>Name</th>
            <th>sportType</th>
            <th>Company</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Model</th>
            <th>Img</th>
        </tr>
        <tr>

            @foreach (SportsEquipment SportsEquipment in @Model)
            {
                <td>@SportsEquipment.ProductName</td>
                <td>@SportsEquipment.sportType</td>
                <td>@SportsEquipment.Company</td>
                <td>@SportsEquipment.Price</td>
                <td>@SportsEquipment.Amount</td>
                <td>@SportsEquipment.ModelProduct</td>
                <td><img src="@SportsEquipment.Img" width="40px" height="40px" /></td>
            <tr />
        }
            <table />

    </div>
    <br />
    </div>

