@using SportsStore.Models;


<h2> Table of Pants</h2>
<button type="button" onclick="location.href = '@Url.Action("CardOfPants","Pants")'">click to change </button>

<style>
    #TablePants {
        width: 90%;
        border-collapse: collapse;
        margin-left: 10%;
        margin-bottom: 1%;
        padding: 10%;
        margin:3%;
    }
    #TablePants,
    th,
    td {
        text-align: center;
        border: 1px solid black;
        background-color: rgb(245, 238, 230);
    }
    #TablePants,
    th {
        height: 50px;
    }

        #TablePants tr {
            border: 3px solid black;
        }

    @*button {
        border:none;
    }*@
</style>
<div>
    <table id="TablePants">
        <tr>
            <th>ClothModel</th>
            <th>Company</th>
            <th>IsShort</th>
            <th>Price</th>
            <th>Amount</th>
            <th>IsDreyfit</th>
            <th>Gender</th>
            <th>Img</th>
        </tr>
        <tr>
            @foreach (Clothing pants in @ViewBag.ListPants)
            {
                <td>@pants.ClothModel</td>
                <td> @pants.Company</td>
                <td>@pants.IsShort</td>
                <td>@pants.Price</td>
                <td> @pants.Amount</td>
                <td> @pants.IsDreyfit</td>
                <td> @pants.Gender</td>
                <td><img src="@pants.Img" width="100px" height="40px" /></td>
            <tr />
        }
            <table />

    </div>

